.canvas-wrapper {
    margin: 5px;
    padding: 10px;
    selectable: false;
    controlsAboveOverlay: true;
    overflow-x: scroll;
    overflow-y: scroll;
}
#selectMeasurementsDiv{
   z-index: 100;
   position: absolute;
   background-color: rgba(229, 204,127, 0.8);
   border: 3px solid black;
   display: none;
   top: 0;
   left: 0;
   width: 200px;
   height: 300px;
}
#selectPatternDiv{
   z-index: 100;
   position: absolute;
   background-color: rgba(229, 204,127, 0.8);
   border: 3px solid black;
   display: none;
   top: 0;
   left: 0;
   width: 200px;
   height: 300px;
}
#popupSelectM{
   z-index: 1000;
   position: absolute;
   top: 130px;
   left: 10px;
}​
#popupSelectP{
   z-index: 1000;
   position: absolute;
   top: 130px;
   left: 10px;
}​
/* For the "inset" look only */
html {
    overflow: auto;
}
body {

}
